.noAutoPos {
    margin: 0;
    padding: 0;
}

.alignRight { text-align: right; }
.alignLeft { text-align: left; }

/* HERO IMAGE CODE STARTS */
.heroImage {
    background-image: linear-gradient(#00d4fe 0%, #001d24 90%);
    height: 80vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.heroText {
    display: inline-block;
    text-align: center;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: 28px;
    position: absolute;
}
/* HERO IMAGE CODE ENDS */

.heroImage svg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.articleDiv {
    margin: 4vh 12vw;
}

.articleDiv h2 {
    font-size: 28px;
    color: #0c6d78;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 4px;
}

.articleDiv p {
    font-size: 20px;
}


.footerDiv {
    background-color: #001d24;
    height: 20vh;
    width: 100%;
    margin-top: 10vh;
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
}

.footerText {
    color: white;
    font-size: 24px;
    margin: 10vh 0;
}
/* Break points */
@media screen and (min-width: 1024px) {
    html {

        border: 10px solid turquoise;
    }

    body {
        background: pink;
    
    }
}


@media screen and (min-width: 576px) {
    body {
        background-color: yellow;
        color: black;
    
    }
}

@media screen and (min-width: 768px) {
    body {
        background-color: purple;
        color: gold;
    
    }
}

@media screen and (min-width: 992px) {
    body {
        background-color: orange;
        color: blue;
    }
}

@media screen and (min-width: 1200px) {
    body {
        background-color: green;
        color: yellow;
    }
}


@media print {
    body{
        background: white;
        color: black;
    }
}